<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4" routerLink="/lista">
          Lista
        </ion-col>
        <ion-col size="4" routerLink="/info">
          Info
        </ion-col>
        <ion-col size="4" routerLink="/favoritos">
          Favoritos
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="info-container">
    <h1>Sobre a API</h1>
    <p>
      A API usada neste projeto é a Rest Countries API, é uma API pública que fornece informações
      detalhadas sobre todos os países do mundo. Ela retorna dados no formato JSON e pode ser
      utilizada em aplicações que envolvem geografia, turismo, ou qualquer funcionalidade que
      necessite de informações sobre países. Fornece dados como: nome do país, população, região,
      capital, entre outros.
    </p>
  </div>
</ion-content>